.cabecalho {
    padding: 1em;
    background: var(--cor-secundaria);
    margin: 1em 1em 0 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img__logo {
    width: 70%;

}

.lista__navegacao {
    display: flex;

}

.navegacao__itens {
    margin: 0 1em;
    color: var(cor-principal);
    text-decoration: none;
    
}

@media screen and (min-width: 1300px) {
    .cabecalho__logo{
        width: 30%;
    }
    .navegacao__itens{
        font-size: 24px;
    }    
}